/*
float = floter
donc ma div gauche se place a gauche
et ma div droite a droite via les attributs "left" et "right"
Les éléments ayant un attribut float vont se superposer au dessus des header & footer

L'attribut "clear" permet à l'élément lié à connaitre les éléments en float dans la page
la caractéristique "both" dans clear permet de reconnaitre d'en haut, d'en bas, d'a gauche et a droite les floats
*/

.left {
    height: 450px;
    width: 200px;
    background-color : blue;
    float: left;
}

.right {
    height: 500px;
    width: 150px;
    background-color : red;
    float : right;
}

header {
    height : 100px;
    background-color: yellow;
}

footer {
    height : 100px;
    background-color: grey;
    clear : both;
}